/*FOOTER */

.footer{
    background-color: #212529;
    color:white;
}


/* FLEXBOX CONTAINER for content */ 
.flexboxContainer{
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    
}

.contentContainer{
    text-align:center;
}

/*Body*/
body p{
margin: 0;
}

/*Laptop image */
.imageStyle{
width:200px;
height: auto;
}